<h1>Pages#home</h1>
<hr>
<%= link_to "Item", items_path, id: "logo" %>
<hr>
<p>Find me in app/views/pages/home.html.erb</p>
<% @items.each do |title| %>
  <%= title.label %></br>
<% end %>

<%= react_component("Appp", {todoData: @items}) %>
